{% extends "basic.html" %}

{% load static %}
{% load bootstrap4 %}

{% block content %}
    <h4 class style = color:black;>Заявок в работе: <span class="text-info">{{ counter }}</span></h4>
    <h5 class style = "color:black; margin-top: 50px">Выполненные заявки:</h5>
    {% for elem in done %}
        <div class="row p-3">
            <img class="col-4" src="{{ elem.photo.url }}" alt="Фото заявки">
            <p class="p-3 mb-2" style="color: black;"><b style="color: black;">Наименование:</b> {{ elem.name }} <br> <b style="color: black;">Категория:</b> {{ elem.Category }} <br> <b style="color: black;">Дата
                добавления:</b> {{ elem.date }}</p>
        </div>
    {% endfor %}
{% endblock %}