{% extends "basic.html" %}

{% load static %}
{% load bootstrap4 %}

{% block content %}
    <h4 class="p-3 mb-2 border" style="background-color: black; color:white;">Заявок в работе: <span class="text-info">{{ counter }}</span></h4>
    <h5 class="p-3 mb-2 border text-center" style="background-color:black; color:white; ">Выполненные заявки</h5>
    {% for elem in done %}
        <div class="row p-3  border-bottom border-top" style="background-color:grey;">
            <img class="col-4" src="{{ elem.photo.url }}" alt="Фото заявки">
            <p class="p-3 mb-2" style="color: white;"><b style="color: orange;">Наименование:</b> {{ elem.name }} <br> <b style="color: orange;">Категория:</b> {{ elem.Category }} <br> <b style="color: orange;">Дата
                добавления:</b> {{ elem.date }}</p>
        </div>
    {% endfor %}
{% endblock %}